body{
    background-image: url("restaurant.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: 'Permanent Marker', cursive;


    
}

h1 {
    color: white;
    text-align: center;
}

table {
     background-color: rgba(128, 128, 128, 0.454);

}

.inputs {
    text-align: center;

}